* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel Decorative", serif;
}

:root {
    --header: rgb(99, 13, 99);
    --background: rgb(219, 212, 245);
    --text: white;
    --div: rgb(241, 146, 241); 
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--header);
    color: var(--text);
    height: 65px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
}

h1 {
    color: var(--text);
    font-weight: 900;
    font-style: normal;
    display: flex;
    position: relative;
    padding-top: 10px
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
}

aside {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: var(--div);
}

aside form {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

aside form input {
    width: 50%;
    height: 15%;
    border-radius: 8px;
    border: 2px solid var(--header);
    padding: 2%;
    outline: none;
    font-size: large;
    overflow-y: hidden;
}

aside form input[type=submit] {
    font-size: x-large;
    font-weight: 600;
    color: var(--header);
    border-radius: 50px;
    width: 40%;
}

aside form input[type=submit]:active {
    border: 5px double var(--header);
}

figure {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

figure h2 {
    height: 10%;
    margin-top: 70px;
}

figure ul {
    height: 80%;
    width: 90%;
    overflow-y: auto;
    padding: 5%;
    background-color: var(--header);
}