*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --div: rgb(201, 48, 10); 
}

body{
    width: 100vw;
    header{
        background-color: var(--div);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 55px;
    }
}